@mixin breakpoint($size) {
  @if $size == mobile-only {
    @media (max-width: 576px) { @content; }
  } @else if $size == col-sm {
    @media (min-width: 576px) { @content; }
  } @else if $size == col-md {
    @media (min-width: 768px) { @content; }
  } @else if $size == col-lg {
    @media (min-width: 992px) { @content; }
  } @else if $size == col-xl {
    @media (min-width: 1200px) { @content; }
  } @else if($size == col-lg-down) {
    @media (max-width: 992px) { @content; }
  } @else if($size == col-md-only) {
    @media (min-width: 768px) and (max-width: 991px) { @content; }
  } @else if($size == col-lg-only) {
    @media (min-width: 992px) and (max-width: 1199px) { @content; }
  }
}


$dsu_c_galler_slick_navigation_arrow_color:#000 !default;
$dsu_c_galler_slick_dots_size:10px !default;
$dsu_c_galler_slick_dots_fill_color: #888 !default;
$dsu_c_galler_slick_active_dot_opacity: 0.6 !default;
$dsu_c_galler_active_thumb_border_size: 3px !default;
$dsu_c_galler_active_thumb_border_type: solid !default;
$dsu_c_galler_active_thumb_border_color: #000 !default;

.dsu_gallery_wrapper.dots_images {
  /*position: relative;*/
  .paragraph--type--c-gallery {
    &.slick-slider {
      /*position : unset;*/
      margin-bottom: 0;
    }
    .slick-prev {
      left : 15px;
    }
    .slick-next {
      right : 15px;
    }
  }
}

.paragraph--type--c-gallery {
  .slider {
    width: 60%;
    margin: 100px auto;
  }
  .slick-track {
    /*height: 600px;*/
    display: flex;
    align-items: center;
  }
  .slick-slide {
    margin: 0;
    img {
      width: 100%;
    }
  }
  &.slide-nav {
    margin-top: 3px;
    .slick-track {
        /*padding: 5px 0;
        @include breakpoint(col-lg) {
          padding: 10px 0;
        }
        height: 150px;*/
    }
    img {
      /* height: 100%; */
      width: 100% !important;
    }
  }
  .slick-prev:before, .slick-next:before {
    color: $dsu_c_galler_slick_navigation_arrow_color;
  }
  .slick-slide {
    transition: position ease-in-out .7s;
    /*outline: none;*/
  }
  /*.slick-active {
    opacity: $dsu_c_galler_slick_active_dot_opacity;
  }*/
  .slick-current {
    opacity: 1;
    position: relative;
  }
  .youtube-vedio-gallery {
    width: 90%;
    max-width: 1000px;
    margin: 30px auto;
  }
  .video img {
    display: none;
    height: 0;
    width: 0;
  }
  .youtube-gallery {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    background-color: black;
    margin: 0 0 40px;
  }
  .youtube-gallery-container {
    iframe, img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  .slick-dots {
    position: absolute;
    bottom: -25px;
    display: block;
    width: 100%;
    padding: 0;
    margin: 15px 0 0;
    list-style: none;
    text-align: center;

    li {
      padding: 0 10px;
    }
    button {
      text-indent: -9999px;
      height: $dsu_c_galler_slick_dots_size;
      width: $dsu_c_galler_slick_dots_size;
      border-radius: 50%;
      display: block;
      border: none;
      background: $dsu_c_galler_slick_dots_fill_color;
    }
  }
  .slick-arrow {
    background-image: url('../images/left.png');
    background-position: center center;
    background-repeat: no-repeat;
    z-index: 1;
    margin-top: -20px;
      /*&:focus {
        outline : auto 2px;
        outline: 2px solid -webkit-focus-ring-color;
        outline-offset: 2px;
      }*/
  }
  .slick-next {
    background-image: url('../images/right.png');
  }
  img {
    width: 100%;
    height: auto;
  }
  &.slide-for img {
    width: 100%;
    /* height: 100%; */
  }
  &.slide-nav {
    img {
      margin: 0 auto;
    }
    .slick-track {
      margin: 0 auto;
    }
    .slide-selected img {
      border:  $dsu_c_galler_active_thumb_border_size $dsu_c_galler_active_thumb_border_type $dsu_c_galler_active_thumb_border_color;
      box-sizing: border-box;
    }
  }
  .caption {
    position: absolute;
    z-index: 2;
    h2 {
      margin-top : 20px;
      margin-bottom: 10px;
      color : #000;
      &.dark-text {
        color : #000;
      }
      &.white-text {
        color : #FFF;
      }
    }
  }
  .gallery_ .caption {
    left: 10px;
    top: 10px;
  }
  .gallery_top_right .caption {
    right: 10px;
    top: 10px;
    text-align: right;
  }
  .gallery_top_left .caption {
    top: 10px;
    left: 10px;
    text-align: left;
  }
  .gallery_bottom_right .caption {
    bottom: 10px;
    right: 10px;
    text-align: right;
  }
  .gallery_bottom_left .caption {
    bottom: 10px;
    left: 10px;
    text-align: left;
  }
}

.node-dsu-component-page-edit-form{
  .dsu_gallery_wrapper{
    .paragraph--view-mode--preview{
      padding-right: 0;
    }
    ul.slick-dots{
      width: 100%;
      margin-left: 0;
      padding-left: 0;
    }
    .paragraph--type--c-gallery .slick-track {
      height: auto;
    }
  }
}