$dsu_c_galler_slick_navigation_arrow_color:#000 !default;

.dsu-gallery {
    padding: 0 20px;
    .dsu-gallery-full-preview {
      margin-bottom: 30px;
      text-align: center;
    }
    .dsu-gallery-item {
      display: none;
    }
    .dsu-gallery-full-preview img {
      margin: 0 auto;
    }
    .slick-dotted.slick-slider {
      padding-bottom: 15px;
    }
    .slick__slide {
      margin: 0 5px;
    }
    .slick-prev:before, .slick-next:before {
      color: $dsu_c_galler_slick_navigation_arrow_color;
    }
    .slick img {
      width: auto;
      max-width: 100%;
    }
  }