.dsu_gallery_wrapper.dots_images {
  /*position: relative;*/ }
.dsu_gallery_wrapper.dots_images .paragraph--type--c-gallery.slick-slider {
  /*position : unset;*/
  margin-bottom: 0; }
.dsu_gallery_wrapper.dots_images .paragraph--type--c-gallery .slick-prev {
  left: 15px; }
.dsu_gallery_wrapper.dots_images .paragraph--type--c-gallery .slick-next {
  right: 15px; }

.paragraph--type--c-gallery {
  /*.slick-active {
    opacity: $dsu_c_galler_slick_active_dot_opacity;
  }*/ }
.paragraph--type--c-gallery .slider {
  width: 60%;
  margin: 100px auto; }
.paragraph--type--c-gallery .slick-track {
  /*height: 600px;*/
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
.paragraph--type--c-gallery .slick-slide {
  margin: 0; }
.paragraph--type--c-gallery .slick-slide img {
  width: 100%; }
.paragraph--type--c-gallery.slide-nav {
  margin-top: 3px; }
.paragraph--type--c-gallery.slide-nav .slick-track {
  /*padding: 5px 0;
    @include breakpoint(col-lg) {
      padding: 10px 0;
    }
    height: 150px;*/ }
.paragraph--type--c-gallery.slide-nav img {
  /* height: 100%; */
  width: 100% !important; }
.paragraph--type--c-gallery .slick-prev:before, .paragraph--type--c-gallery .slick-next:before {
  color: #000; }
.paragraph--type--c-gallery .slick-slide {
  -webkit-transition: position ease-in-out .7s;
  transition: position ease-in-out .7s;
  /*outline: none;*/ }
.paragraph--type--c-gallery .slick-current {
  opacity: 1;
  position: relative; }
.paragraph--type--c-gallery .youtube-vedio-gallery {
  width: 90%;
  max-width: 1000px;
  margin: 30px auto; }
.paragraph--type--c-gallery .video img {
  display: none;
  height: 0;
  width: 0; }
.paragraph--type--c-gallery .youtube-gallery {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  background-color: black;
  margin: 0 0 40px; }
.paragraph--type--c-gallery .youtube-gallery-container iframe, .paragraph--type--c-gallery .youtube-gallery-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }
.paragraph--type--c-gallery .slick-dots {
  position: absolute;
  bottom: -25px;
  display: block;
  width: 100%;
  padding: 0;
  margin: 15px 0 0;
  list-style: none;
  text-align: center; }
.paragraph--type--c-gallery .slick-dots li {
  padding: 0 10px; }
.paragraph--type--c-gallery .slick-dots button {
  text-indent: -9999px;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  display: block;
  border: none;
  background: #888; }
.paragraph--type--c-gallery .slick-arrow {
  background-image: url("../images/left.png");
  background-position: center center;
  background-repeat: no-repeat;
  z-index: 1;
  margin-top: -20px;
  /*&:focus {
      outline : auto 2px;
      outline: 2px solid -webkit-focus-ring-color;
      outline-offset: 2px;
    }*/ }
.paragraph--type--c-gallery .slick-next {
  background-image: url("../images/right.png"); }
.paragraph--type--c-gallery img {
  width: 100%;
  height: auto; }
.paragraph--type--c-gallery.slide-for img {
  width: 100%;
  /* height: 100%; */ }
.paragraph--type--c-gallery.slide-nav img {
  margin: 0 auto; }
.paragraph--type--c-gallery.slide-nav .slick-track {
  margin: 0 auto; }
.paragraph--type--c-gallery.slide-nav .slide-selected img {
  border: 3px solid #000;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
.paragraph--type--c-gallery .caption {
  position: absolute;
  z-index: 2; }
.paragraph--type--c-gallery .caption h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  color: #000; }
.paragraph--type--c-gallery .caption h2.dark-text {
  color: #000; }
.paragraph--type--c-gallery .caption h2.white-text {
  color: #FFF; }
.paragraph--type--c-gallery .gallery_ .caption {
  left: 10px;
  top: 10px; }
.paragraph--type--c-gallery .gallery_top_right .caption {
  right: 10px;
  top: 10px;
  text-align: right; }
.paragraph--type--c-gallery .gallery_top_left .caption {
  top: 10px;
  left: 10px;
  text-align: left; }
.paragraph--type--c-gallery .gallery_bottom_right .caption {
  bottom: 10px;
  right: 10px;
  text-align: right; }
.paragraph--type--c-gallery .gallery_bottom_left .caption {
  bottom: 10px;
  left: 10px;
  text-align: left; }

.node-dsu-component-page-edit-form .dsu_gallery_wrapper .paragraph--view-mode--preview {
  padding-right: 0; }

.node-dsu-component-page-edit-form .dsu_gallery_wrapper ul.slick-dots {
  width: 100%;
  margin-left: 0;
  padding-left: 0; }

.node-dsu-component-page-edit-form .dsu_gallery_wrapper .paragraph--type--c-gallery .slick-track {
  height: auto; }
