.paragraph--type--c-newsletter-signup-cta {
    padding: 30px;
    & .field--name-field-newsletter-block-title {
        margin-bottom: 20px;
    }
    & .field--name-field-newsletter-block-message {
        margin-bottom: 15px;
    }
    & .field--name-field-newsletter-block-cta {
        a {
            padding: 15px 15px;
            border: 1px solid;
        }
        margin-bottom: 15px;
    }
}