.ln_c_newsletter_email_collection_form {
    padding: 30px;
    .form-item-newsletter-title-message {
        background-image: url('../images/mail.png');
        background-repeat: no-repeat;
        padding-left: 30px;
    }
    @media (min-width: 767px) {
        & input[data-drupal-selector="edit-newsletter-user-email"] {
            width: 80%;
        }
        & div[data-drupal-selector="edit-actions"] {
            position: absolute;
            bottom: 30px;
            margin-left: -28px;
            left: 80%;
            min-width: 20%;
            display: inline-flex;
            align-items: center;
            input[type="submit"] {
                border-bottom-left-radius: 0;
                border-top-left-radius: 0;
            }
            .ajax-progress-throbber {
                position: absolute;
            }
        }
    }  
}