.mg-stagemymenu {
  position: fixed;
  right: 0;
  top: 12.5rem;
  width: 6.4375rem;
  height: auto;
  border-top-left-radius: 0.625rem;
  border-bottom-left-radius: 0.625rem;
  background-color: white;
  z-index: 100;
  -webkit-box-shadow: -2px 5px 20px 0 rgba(0, 0, 0, 0.5);
          box-shadow: -2px 5px 20px 0 rgba(0, 0, 0, 0.5); }
  @media (max-width: 576px) {
    .mg-stagemymenu {
      left: 0;
      height: 74px;
      width: 10.25rem;
      /* bottom: rem-calc(60); */
      right: auto;
      top: 75vh;
      border-top-right-radius: 0.625rem;
      border-bottom-right-radius: 0.625rem;
      border-bottom-left-radius: 0rem;
      border-top-left-radius: 0rem; }
      .mg-stagemymenu h3, .mg-stagemymenu .h3, .mg-stagemymenu .headline-h3 {
        font-size: 18px; } }
  @media (min-width: 768px) and (max-width: 991px) {
    .mg-stagemymenu {
      width: 5.3125rem; } }
  @media (min-width: 992px) and (max-width: 1199px) {
    .mg-stagemymenu {
      width: 5.3125rem; } }
  .mg-stagemymenu__container {
    cursor: pointer;
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
    .mg-stagemymenu__container .circle {
      position: relative;
      margin: 0 auto;
      width: 3.375rem;
      height: 3.375rem; }
      @media (min-width: 768px) {
        .mg-stagemymenu__container .circle {
          width: 3.625rem;
          height: 3.625rem;
          margin-top: 1.125rem; } }
      @media (min-width: 1200px) {
        .mg-stagemymenu__container .circle {
          width: 4.375rem;
          height: 4.375rem;
          margin-top: 1.125rem; } }
      .mg-stagemymenu__container .circle .progress-ring {
        width: 3.375rem;
        height: 3.375rem; }
        @media (min-width: 768px) {
          .mg-stagemymenu__container .circle .progress-ring {
            width: 3.625rem;
            height: 3.625rem; } }
        @media (min-width: 1200px) {
          .mg-stagemymenu__container .circle .progress-ring {
            width: 4.375rem;
            height: 4.375rem; } }
        .mg-stagemymenu__container .circle .progress-ring .progress-ring__circle {
          -webkit-transition: stroke-dashoffset;
          transition: stroke-dashoffset;
          -webkit-transform: rotate(-90deg);
              -ms-transform: rotate(-90deg);
                  transform: rotate(-90deg);
          -webkit-transform-origin: 50% 50%;
              -ms-transform-origin: 50% 50%;
                  transform-origin: 50% 50%; }
      .mg-stagemymenu__container .circle .nutritional_score {
        position: absolute;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        top: 11%;
        left: 26%; }
        @media (min-width: 768px) {
          .mg-stagemymenu__container .circle .nutritional_score {
            top: 23%;
            left: 29%; } }
        @media (min-width: 992px) {
          .mg-stagemymenu__container .circle .nutritional_score {
            top: 23%;
            left: 29%; } }
        @media (min-width: 1200px) {
          .mg-stagemymenu__container .circle .nutritional_score {
            top: 0.84375rem;
            left: 1.3125rem; } }
        .mg-stagemymenu__container .circle .nutritional_score span {
          font-size: 0.5625rem;
          line-height: 0.625rem;
          color: #999999; }
    @media (max-width: 576px) {
      .mg-stagemymenu__container {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center; } }
    .mg-stagemymenu__container p {
      margin: 0 auto;
      margin-top: 0.625rem;
      margin-bottom: 1.0625rem;
      width: 4.6875rem;
      text-align: center;
      font-size: 14px; }
      @media (max-width: 576px) {
        .mg-stagemymenu__container p {
          margin: auto 0/16rem;
          margin-right: 0.625rem;
          width: 3.75rem;
          text-align: left;
          font-size: 12px; } }
    .mg-stagemymenu__container .plusIcon {
      height: 2.1875rem;
      background-color: #fff33e;
      border-bottom-left-radius: 0.625rem;
      width: 100%; }
      @media (max-width: 576px) {
        .mg-stagemymenu__container .plusIcon {
          min-height: 4.625rem;
          width: 1.6875rem;
          border-top-right-radius: 0.625rem;
          border-bottom-right-radius: 0.625rem;
          border-bottom-left-radius: 0rem;
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -webkit-align-items: center;
              -ms-flex-align: center;
                  align-items: center;
          height: 100%;
          margin: 0; } }
      .mg-stagemymenu__container .plusIcon span {
        /* @extend %svg-icons;
				@extend %plus_icon_for_mymenu; */
        width: auto;
        background-position: center;
        margin: auto;
        font-size: 36px;
        /* height: rem-calc(18); */
        /* width: rem-calc(16); */
        /* margin-top: rem-calc(8.5); */
        /* line-height: 25px; */ }
        @media (max-width: 576px) {
          .mg-stagemymenu__container .plusIcon span {
            /* height: rem-calc(9);
					width: rem-calc(9); */
            margin: auto;
            font-size: 22px;
            font-weight: 600;
            line-height: normal; } }
  .mg-stagemymenu .stagemymenu_overlay-wrapper {
    display: none; }

.stagemymenu_overlay {
  position: fixed;
  z-index: 999;
  top: 0;
  width: 100vw;
  padding: 20px;
  height: 100vh;
  overflow-y: auto;
  background: #FFF;
  left: 0; }
  .stagemymenu_overlay-wrapper.active {
    display: block; }
  .stagemymenu_overlay-wrapper > .stagemymenu-bg-mask {
    width: 100vw;
    height: 100%;
    background: #000;
    opacity: 0.5;
    top: 0px;
    left: 0px;
    z-index: 998;
    position: fixed; }
  @media (min-width: 992px) {
    .stagemymenu_overlay {
      width: 50vw;
      right: 0;
      left: unset; } }
  .stagemymenu_overlay_close {
    position: absolute;
    width: 30px;
    height: 30px;
    right: 20px;
    top: 50px;
    text-align: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    line-height: 30px;
    font-size: 26px; }
    @media (min-width: 992px) {
      .stagemymenu_overlay_close {
        top: 85px; } }
    .stagemymenu_overlay_close a {
      display: inline-block;
      height: 100%;
      vertical-align: middle;
      color: #111111;
      opacity: 0.8; }
  .stagemymenu_overlay .primary_part {
    background-color: #f3f3f3;
    min-height: 16.6875rem;
    text-align: center;
    padding-top: 4.5rem; }
    .stagemymenu_overlay .primary_part h3 {
      /* @extend %bold-text;  */ }
    .stagemymenu_overlay .primary_part .subtitle {
      margin-top: 0.875rem;
      /* @extend %bodycopy-small; */
      color: #999999; }
    .stagemymenu_overlay .primary_part .nutritional_balance {
      margin-top: 1.8125rem;
      padding-bottom: 4.5rem;
      /* @extend %search-magzine-title; */
      color: #333333; }
  .stagemymenu_overlay .nutritional_container {
    margin-top: -3.625rem;
    margin-bottom: -3.625rem;
    text-align: center; }
    .stagemymenu_overlay .nutritional_container .circle {
      height: 7.1875rem;
      width: 7.1875rem;
      position: relative;
      margin: 0 auto;
      display: -webkit-inline-box;
      display: -webkit-inline-flex;
      display: -ms-inline-flexbox;
      display: inline-flex;
      padding: 0.875rem;
      border-radius: 100%;
      background-color: white; }
      .stagemymenu_overlay .nutritional_container .circle .progress-ring {
        height: 5.4375rem;
        width: 5.4375rem; }
        .stagemymenu_overlay .nutritional_container .circle .progress-ring .progress-ring__circle {
          -webkit-transition: stroke-dashoffset;
          transition: stroke-dashoffset;
          -webkit-transform: rotate(-90deg);
              -ms-transform: rotate(-90deg);
                  transform: rotate(-90deg);
          -webkit-transform-origin: 50% 50%;
              -ms-transform-origin: 50% 50%;
                  transform-origin: 50% 50%; }
      .stagemymenu_overlay .nutritional_container .circle .nutritional_score {
        position: absolute;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        /* @extend %h2; */
        top: 2.1875rem;
        left: 2.625rem; }
        .stagemymenu_overlay .nutritional_container .circle .nutritional_score span {
          font-size: 0.5625rem;
          line-height: 0.625rem;
          color: #999999; }
  .stagemymenu_overlay .secondary_part {
    width: 100% !important;
    padding: 90px 10px;
    background-color: #fcfcfc; }
    @media (min-width: 992px) {
      .stagemymenu_overlay .secondary_part {
        padding: 90px 30px 90px 30px; } }
    .stagemymenu_overlay .secondary_part > .grid-container {
      margin-top: 0rem;
      margin-bottom: 2.5rem;
      padding: 0rem; }
  .stagemymenu_overlay .nutritional_tips .heading {
    /* @extend %search-magzine-title; */
    color: #333333;
    margin-bottom: 0.625rem; }
  .stagemymenu_overlay .nutritional_tips ul {
    /* @extend %bodycopy-small; */
    color: #999999;
    list-style: none; }
    .stagemymenu_overlay .nutritional_tips ul li {
      margin-left: 1.875rem; }
      .stagemymenu_overlay .nutritional_tips ul li a {
        color: #333333;
        display: inline-table; }
        .stagemymenu_overlay .nutritional_tips ul li a::after {
          /* @extend %anchor-bottom; */
          background-color: #cccccc; }
        .stagemymenu_overlay .nutritional_tips ul li a:hover {
          /* @extend %anchor-bottom-hover; */ }
      .stagemymenu_overlay .nutritional_tips ul li:not(:last-child) {
        margin-bottom: 0.625rem; }
      .stagemymenu_overlay .nutritional_tips ul li::before {
        content: "";
        height: 0.625rem;
        width: 0.625rem;
        background-color: #0045AB;
        display: -webkit-inline-box;
        display: -webkit-inline-flex;
        display: -ms-inline-flexbox;
        display: inline-flex;
        position: relative;
        top: -0.125rem;
        left: 0;
        margin-right: 1.25rem;
        margin-left: -1.875rem; }

.mg-accordion .accordion-group {
  border-bottom: .125rem solid #ccc; }
  .mg-accordion .accordion-group:first-child {
    border-top: .125rem solid #ccc; }
  .mg-accordion .accordion-group .panel-title a {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    text-decoration: none;
    padding: 30px 0; }
    @media (min-width: 576px) {
      .mg-accordion .accordion-group .panel-title a {
        padding: 30px 25px 30px 0; } }
    .mg-accordion .accordion-group .panel-title a h3{
      width : calc(100% - 25px);
      font-size: 18px;
    }
    .mg-accordion .accordion-group .panel-title a::after {
      content: " ";
      width: 10px;
      height: 10px;
      border: 1px solid #999;
      border-width: 0 0 1px 1px;
      position: absolute;
      top: 50%;
      right: 10px;
      -webkit-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out;
      -webkit-transform: translateY(-50%) rotateZ(-225deg);
          -ms-transform: translateY(-50%) rotate(-225deg);
              transform: translateY(-50%) rotateZ(-225deg); }
    .mg-accordion .accordion-group .panel-title a.collapsed::after {
      -webkit-transform: translateY(-50%) rotateZ(-45deg);
          -ms-transform: translateY(-50%) rotate(-45deg);
              transform: translateY(-50%) rotateZ(-45deg); }
  .mg-accordion .accordion-group .panel-content {
    padding-bottom: 40px; }

.stagemymenu_overlay_accordion1 .part-1, .stagemymenu_overlay_accordion2 .part-1 {
  margin-bottom: 1.875rem; }
  .stagemymenu_overlay_accordion1 .part-1 .title, .stagemymenu_overlay_accordion2 .part-1 .title {
    /* @extend %label1; */
    margin-bottom: 0.625rem;
    color: #333333 !important;
    font-weight: 600; }
  .stagemymenu_overlay_accordion1 .part-1 .description, .stagemymenu_overlay_accordion2 .part-1 .description {
    /* @extend %bodycopy-small; */
    color: #999999 !important;
    font-weight: 600; }
    .stagemymenu_overlay_accordion1 .part-1 .description p, .stagemymenu_overlay_accordion1 .part-1 .description div, .stagemymenu_overlay_accordion2 .part-1 .description p, .stagemymenu_overlay_accordion2 .part-1 .description div {
      /* @extend %bodycopy-small; */
      color: #999999 !important; }

.stagemymenu_overlay_accordion1 .part-2 .heading, .stagemymenu_overlay_accordion2 .part-2 .heading {
  /* @extend %label1; */
  color: #333333;
  margin-bottom: 1.4375rem;
  font-weight: 600; }

.stagemymenu_overlay_accordion1 .part-2 .group, .stagemymenu_overlay_accordion2 .part-2 .group {
  margin-bottom: 1.875rem; }
  .stagemymenu_overlay_accordion1 .part-2 .group .title, .stagemymenu_overlay_accordion2 .part-2 .group .title {
    margin-bottom: 0.875rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    color: #333333 !important;
    font-weight: 600;
    /* @extend %bodycopy-small; */ }
    .stagemymenu_overlay_accordion1 .part-2 .group .title .range-icon, .stagemymenu_overlay_accordion2 .part-2 .group .title .range-icon {
      margin-right: 1rem; }
      .stagemymenu_overlay_accordion1 .part-2 .group .title .range-icon .balance_improvement, .stagemymenu_overlay_accordion2 .part-2 .group .title .range-icon .balance_improvement {
        fill: #FF8C28; }
      .stagemymenu_overlay_accordion1 .part-2 .group .title .range-icon .good_balance, .stagemymenu_overlay_accordion2 .part-2 .group .title .range-icon .good_balance {
        fill: #FFEA00; }
      .stagemymenu_overlay_accordion1 .part-2 .group .title .range-icon .great_balance, .stagemymenu_overlay_accordion2 .part-2 .group .title .range-icon .great_balance {
        fill: #97D815; }
    .stagemymenu_overlay_accordion1 .part-2 .group .title .range, .stagemymenu_overlay_accordion2 .part-2 .group .title .range {
      margin-left: 0.3125rem;
      min-width: 4.375rem; }
  .stagemymenu_overlay_accordion1 .part-2 .group .description, .stagemymenu_overlay_accordion2 .part-2 .group .description {
    /* @extend %caption-same; */
    font-size: 0.875rem;
    color: #999999;
    font-weight: 600; }

.stagemymenu_overlay_accordion1 .part-2 .graph-section, .stagemymenu_overlay_accordion2 .part-2 .graph-section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1.6875rem;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .stagemymenu_overlay_accordion1 .part-2 .graph-section:last-child, .stagemymenu_overlay_accordion2 .part-2 .graph-section:last-child {
    margin-bottom: 0rem; }
  .stagemymenu_overlay_accordion1 .part-2 .graph-section .name, .stagemymenu_overlay_accordion2 .part-2 .graph-section .name {
    /* @extend %label2; */
    font-size: 12px;
    color: #999999;
    margin-right: 0.625rem;
    min-width: 5.625rem;
    -webkit-flex-basis: 20%;
        -ms-flex-preferred-size: 20%;
            flex-basis: 20%; }
  .stagemymenu_overlay_accordion1 .part-2 .graph-section .bar-main, .stagemymenu_overlay_accordion2 .part-2 .graph-section .bar-main {
    -webkit-flex-basis: 44%;
        -ms-flex-preferred-size: 44%;
            flex-basis: 44%;
    background-color: #eeeeee;
    height: 0.5rem;
    border-radius: 0.3125rem;
    position: relative;
    margin-right: 0.75rem; }
    .stagemymenu_overlay_accordion1 .part-2 .graph-section .bar-main .bar-sub, .stagemymenu_overlay_accordion2 .part-2 .graph-section .bar-main .bar-sub {
      position: absolute;
      height: 100%;
      border-radius: 0.3125rem;
      left: 0%;
      top: 0%;
      right: 0%;
      background-color: #777777 !important; }
  .stagemymenu_overlay_accordion1 .part-2 .graph-section .units, .stagemymenu_overlay_accordion2 .part-2 .graph-section .units {
    /* @extend %label3; */
    color: #333333;
    font-size: 10px; }
    @media (min-width: 992px) {
      .stagemymenu_overlay_accordion1 .part-2 .graph-section .units, .stagemymenu_overlay_accordion2 .part-2 .graph-section .units {
        font-size: 12px; } }

.stagemymenu_overlay_accordion1 .part-2 .disclaimer, .stagemymenu_overlay_accordion2 .part-2 .disclaimer {
  /* @extend %caption-same; */
  color: #999999;
  font-size: 12px; }



/********************************************** PROVISIONAL RULES **************************************************************************/



.carousel{
  width:90%;
  margin:0px auto;
}
.slick-slide{
  margin:10px;
}
.slick-slide img{
  width:100%;
  border: 2px solid #fff;
}


/* Side dishes rules */
.stagemymenu_overlay .meal-score .title-choose{
  background:#f3f3f3;
  font-size:25px;
  font-weight:bold;
  color:#333;
  text-align:center;
}
.stagemymenu_overlay .meal-score .title-choose span{
  display:block;
  padding:1.25rem 0;
  margin:0 auto;
}
.stagemymenu_overlay .meal-score .tabs{
  width:100%;
  margin:0;
}
.stagemymenu_overlay .meal-score .tabs .tabs-links{
  display:flex;
}
.stagemymenu_overlay .meal-score .tabs .tabs-links > a{
  width:100%;
  padding:0;
  text-align:center;
  line-height:2.5rem;
  font-size:1.375rem;
  font-weight:bold;
  background:#FFFFFF;
}
.stagemymenu_overlay .meal-score .tabs .tabs-links > a.active{
  -webkit-box-shadow:inset 0px -0.25rem 0px 0px #CD6654;
  -moz-box-shadow:inset 0px -0.25rem 0px 0px #CD6654;
  box-shadow:inset 0px -0.25rem 0px 0px #CD6654;
}
.stagemymenu_overlay .meal-score .tabs .tabs-content .tab-content{
  padding-bottom:3.75rem;
}
.stagemymenu_overlay .meal-score .tabs .tabs-content .tab-content .swiper-related-score{
  margin:0;
  padding-left:0.625rem;
  padding-right:0.625rem;
}
@media print,screen and (min-width:992px){
  .stagemymenu_overlay .meal-score .tabs .tabs-content .tab-content .swiper-related-score{
    padding-left:1.25rem;
    padding-right:0.625rem;
    padding-top: 1.25rem;
  }
}
.stagemymenu_overlay .meal-score .tabs .tabs-content .tab-content .swiper-related-score .swiper-slide{
  width:11.25rem;
  padding:0 0.625rem;
}
.stagemymenu_overlay .meal-score .tabs .tabs-content .tab-content .swiper-related-score .item{
  position:relative;
  z-index:0;
}
.stagemymenu_overlay .meal-score .tabs .tabs-content .tab-content .swiper-related-score .item [data-add-score]{
  cursor:pointer;
}
.stagemymenu_overlay .meal-score .tabs .tabs-content .tab-content .swiper-related-score .item .score-to-add,
.stagemymenu_overlay .meal-score .tabs .tabs-content .tab-content .swiper-related-score .item .score-remove{
  position:absolute;
  top:0;
  left:0;
  width:5.75rem;
  height:5.75rem;
  background:#97d815;
  border:3px solid #FFFFFF;
  z-index:4;
  font-size:1.275rem;
  display:flex;
  justify-content:center;
  align-items:center;
  color:#FFFFFF;
  cursor:pointer;
  -webkit-box-shadow:0 10px 20px 0 rgba(0,0,0,0.09);
  -moz-box-shadow:0 10px 20px 0 rgba(0,0,0,0.09);
  box-shadow:0 10px 20px 0 rgba(0,0,0,0.09);
  -webkit-border-radius:100%;
  -moz-border-radius:100%;
  -ms-border-radius:100%;
  -o-border-radius:100%;
  border-radius:100%;
}
.stagemymenu_overlay .meal-score .tabs .tabs-content .tab-content .swiper-related-score .item .score-to-add strong,
.stagemymenu_overlay .meal-score .tabs .tabs-content .tab-content .swiper-related-score .item .score-remove strong{
  font-weight:bold;
  font-size:1.2em;
}
.stagemymenu_overlay .meal-score .tabs .tabs-content .tab-content .swiper-related-score .item .score-remove{
  opacity:0;
  z-index:2;
  pointer-events:none;
  background-color:#d8332f;
  background-position:center center;
  background-size:auto 80%;
  background-image:url("data:image/svg+xml;charset=utf8,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' height='39.597977386223164' width='39.59797738622319'%3E %3Cdefs%3E %3Cpath id='path-1' opacity='1' fill-rule='evenodd' d='M18.29898940836756,5.798989646785884 L21.29898940836756,5.798989646785884 L21.29898940836756,18.298989646785884 L33.79898750101893,18.298989646785884 L33.79898750101893,21.298989646785884 L21.29898940836756,21.298989646785884 L21.29898940836756,33.79898773943725 L18.29898940836756,33.79898773943725 L18.29898940836756,21.298989646785884 L5.798989408367561,21.298989646785884 L5.798989408367561,18.298989646785884 L18.29898940836756,18.298989646785884 L18.29898940836756,5.798989646785884Z'/%3E %3C/defs%3E %3Cg transform='translate(19.798988693111824, 19.798988693111568) rotate(45.00001609038752) translate(-19.798988693111824, -19.798988693111568)'%3E %3Cuse xlink:href='%23path-1' fill='%23FFFFFF' fill-opacity='1'/%3E %3C/g%3E %3C/svg%3E");
  -webkit-transition:all 0.3s ease-in-out;
  -moz-transition:all 0.3s ease-in-out;
  -o-transition:all 0.3s ease-in-out;
  transition:all 0.3s ease-in-out;
}
.stagemymenu_overlay .meal-score .tabs .tabs-content .tab-content .swiper-related-score .item .image{
  display:block;
  position:relative;
  overflow:hidden;
  margin-bottom:1.25rem;
  -webkit-box-shadow:0 10px 20px 0 rgba(0,0,0,0.09);
  -moz-box-shadow:0 10px 20px 0 rgba(0,0,0,0.09);
  box-shadow:0 10px 20px 0 rgba(0,0,0,0.09);
  -webkit-border-radius:100%;
  -moz-border-radius:100%;
  -ms-border-radius:100%;
  -o-border-radius:100%;
  border-radius:100%;
  height: 170px;
}
.stagemymenu_overlay .meal-score .tabs .tabs-content .tab-content .swiper-related-score .item .image img{
  height: 170px;

}
.stagemymenu_overlay .meal-score .tabs .tabs-content .tab-content .swiper-related-score .item .image:before{
  content:"";
  display:block;
}
.stagemymenu_overlay .meal-score .tabs .tabs-content .tab-content .swiper-related-score .item .image .msg-added,
.stagemymenu_overlay .meal-score .tabs .tabs-content .tab-content .swiper-related-score .item .image .msg-removed,
.stagemymenu_overlay .meal-score .tabs .tabs-content .tab-content .swiper-related-score .item .image .msg-to-add,
.stagemymenu_overlay .meal-score .tabs .tabs-content .tab-content .swiper-related-score .item .image .msg-to-remove{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  background-color:rgba(151,216,21,0.89);
  font-size:0.875rem;
  color:#FFFFFF;
  text-align:center;
  padding:0.9375rem;
  opacity:0;
  z-index:2;
  pointer-events:none;
  cursor:pointer;
  -webkit-transition:all 0.3s ease-in-out;
  -moz-transition:all 0.3s ease-in-out;
  -o-transition:all 0.3s ease-in-out;
  transition:all 0.3s ease-in-out;
  -webkit-border-radius:100%;
  -moz-border-radius:100%;
  -ms-border-radius:100%;
  -o-border-radius:100%;
  border-radius:100%;
}
.stagemymenu_overlay .meal-score .tabs .tabs-content .tab-content .swiper-related-score .item .image .msg-added:before,
.stagemymenu_overlay .meal-score .tabs .tabs-content .tab-content .swiper-related-score .item .image .msg-removed:before,
.stagemymenu_overlay .meal-score .tabs .tabs-content .tab-content .swiper-related-score .item .image .msg-to-add:before,
.stagemymenu_overlay .meal-score .tabs .tabs-content .tab-content .swiper-related-score .item .image .msg-to-remove:before{
  content:"";
  display:block;
  height:3.125rem;
  width:3.125rem;
  background-repeat:no-repeat;
  background-position:center center;
  background-size:auto 120%;
  background-image:url("data:image/svg+xml;charset=utf8,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' height='39.597977386223164' width='39.59797738622319'%3E %3Cdefs%3E %3Cpath id='path-1' opacity='1' fill-rule='evenodd' d='M18.29898940836756,5.798989646785884 L21.29898940836756,5.798989646785884 L21.29898940836756,18.298989646785884 L33.79898750101893,18.298989646785884 L33.79898750101893,21.298989646785884 L21.29898940836756,21.298989646785884 L21.29898940836756,33.79898773943725 L18.29898940836756,33.79898773943725 L18.29898940836756,21.298989646785884 L5.798989408367561,21.298989646785884 L5.798989408367561,18.298989646785884 L18.29898940836756,18.298989646785884 L18.29898940836756,5.798989646785884Z'/%3E %3C/defs%3E %3Cg transform='translate(19.798988693111824, 19.798988693111568) rotate(45.00001609038752) translate(-19.798988693111824, -19.798988693111568)'%3E %3Cuse xlink:href='%23path-1' fill='%23CD6654' fill-opacity='1'/%3E %3C/g%3E %3C/svg%3E");
}
.stagemymenu_overlay .meal-score .tabs .tabs-content .tab-content .swiper-related-score .item .image .msg-added span,
.stagemymenu_overlay .meal-score .tabs .tabs-content .tab-content .swiper-related-score .item .image .msg-removed span,
.stagemymenu_overlay .meal-score .tabs .tabs-content .tab-content .swiper-related-score .item .image .msg-to-add span,
.stagemymenu_overlay .meal-score .tabs .tabs-content .tab-content .swiper-related-score .item .image .msg-to-remove span{
  display:block;
  width:100%;
}
.stagemymenu_overlay .meal-score .tabs .tabs-content .tab-content .swiper-related-score .item .image .msg-added,.stagemymenu_overlay .meal-score .tabs .tabs-content .tab-content .swiper-related-score .item .image .msg-removed{
  z-index:3;
}
.stagemymenu_overlay .meal-score .tabs .tabs-content .tab-content .swiper-related-score .item .image .msg-removed{
  background-color:rgba(216,51,47,0.89);
}
.stagemymenu_overlay .meal-score .tabs .tabs-content .tab-content .swiper-related-score .item .image .msg-removed:before{
  background-image:url("data:image/svg+xml;charset=utf8,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' height='39.597977386223164' width='39.59797738622319'%3E %3Cdefs%3E %3Cpath id='path-1' opacity='1' fill-rule='evenodd' d='M18.29898940836756,5.798989646785884 L21.29898940836756,5.798989646785884 L21.29898940836756,18.298989646785884 L33.79898750101893,18.298989646785884 L33.79898750101893,21.298989646785884 L21.29898940836756,21.298989646785884 L21.29898940836756,33.79898773943725 L18.29898940836756,33.79898773943725 L18.29898940836756,21.298989646785884 L5.798989408367561,21.298989646785884 L5.798989408367561,18.298989646785884 L18.29898940836756,18.298989646785884 L18.29898940836756,5.798989646785884Z'/%3E %3C/defs%3E %3Cg transform='translate(19.798988693111824, 19.798988693111568) rotate(45.00001609038752) translate(-19.798988693111824, -19.798988693111568)'%3E %3Cuse xlink:href='%23path-1' fill='%23FFFFFF' fill-opacity='1'/%3E %3C/g%3E %3C/svg%3E");
}
.stagemymenu_overlay .meal-score .tabs .tabs-content .tab-content .swiper-related-score .item .image .msg-to-add{
  pointer-events:initial;
  background-color:rgba(255,255,255,0.89);
  color:#4C2B0D;
}
.stagemymenu_overlay .meal-score .tabs .tabs-content .tab-content .swiper-related-score .item .image .msg-to-add:before{
  background-image:url("data:image/svg+xml;    charset=utf8,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' height='39.597977386223164' width='39.59797738622319'%3E %3Cdefs%3E %3Cpath id='path-1' opacity='1' fill-rule='evenodd' d='M18.29898940836756,5.798989646785884 L21.29898940836756,5.798989646785884 L21.29898940836756,18.298989646785884 L33.79898750101893,18.298989646785884 L33.79898750101893,21.298989646785884 L21.29898940836756,21.298989646785884 L21.29898940836756,33.79898773943725 L18.29898940836756,33.79898773943725 L18.29898940836756,21.298989646785884 L5.798989408367561,21.298989646785884 L5.798989408367561,18.298989646785884 L18.29898940836756,18.298989646785884 L18.29898940836756,5.798989646785884Z'/%3E %3C/defs%3E %3Cg transform='translate(19.798988693111824, 19.798988693111568) rotate(45.00001609038752) translate(-19.798988693111824, -19.798988693111568)'%3E %3Cuse xlink:href='%23path-1' fill='%23CD6654' fill-opacity='1'/%3E %3C/g%3E %3C/svg%3E");
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  -o-transform:rotate(45deg);
  transform:rotate(45deg);
}
.stagemymenu_overlay .meal-score .tabs .tabs-content .tab-content .swiper-related-score .item .image .msg-to-add:hover {
  opacity:1;
}

.stagemymenu_overlay .meal-score .tabs .tabs-content .tab-content .swiper-related-score .item .image .msg-to-remove{
  background-color:rgba(255,255,255,0.89);
  color:#4C2B0D;
}

.stagemymenu_overlay .meal-score .tabs .tabs-content .tab-content .swiper-related-score .item .name{
  display:block;
  text-align:center;
  font-weight:700;
  font-size:1.175rem;
  color:#000000;
}
.stagemymenu_overlay .meal-score .tabs .tabs-content .tab-content .swiper-related-score .item .name a{
  background:transparent;
}
.stagemymenu_overlay .meal-score .tabs .tabs-content .tab-content .swiper-related-score .item.added .score-remove{
  pointer-events:initial;
  opacity:1;
  z-index:5;
}
@-moz-keyframes scoreMsgFade{0%{opacity:0;}25%{opacity:1;}75%{opacity:1;}100%{opacity:0;}}@-webkit-keyframes scoreMsgFade{0%{opacity:0;}25%{opacity:1;}75%{opacity:1;}100%{opacity:0;}}@-o-keyframes scoreMsgFade{0%{opacity:0;}25%{opacity:1;}75%{opacity:1;}100%{opacity:0;}}@-ms-keyframes scoreMsgFade{0%{opacity:0;}25%{opacity:1;}75%{opacity:1;}100%{opacity:0;}}@keyframes scoreMsgFade{0%{opacity:0;}25%{opacity:1;}75%{opacity:1;}100%{opacity:0;}}
.stagemymenu_overlay .meal-score .tabs .tabs-content .tab-content .swiper-related-score .item.added .image .msg-added{
  -webkit-animation:scoreMsgFade 2s ease-in-out 1;
  -moz-animation:scoreMsgFade 2s ease-in-out 1;
  -ms-animation:scoreMsgFade 2s ease-in-out 1;
  -o-animation:scoreMsgFade 2s ease-in-out 1;
  animation:scoreMsgFade 2s ease-in-out 1;
}


.stagemymenu_overlay .meal-score .tabs .tabs-content .tab-content .swiper-related-score .item .image .msg-to-remove:hover {
  opacity:1;
}
.stagemymenu_overlay .meal-score .tabs .tabs-content .tab-content .swiper-related-score .item.added .image .msg-to-remove{
  pointer-events:initial;
}

.stagemymenu_overlay .meal-score .tabs .tabs-content .tab-content .swiper-related-score .item.removed .image .msg-removed{
  -webkit-animation:scoreMsgFade 2s ease-in-out 1;
  -moz-animation:scoreMsgFade 2s ease-in-out 1;
  -ms-animation:scoreMsgFade 2s ease-in-out 1;
  -o-animation:scoreMsgFade 2s ease-in-out 1;
  animation:scoreMsgFade 2s ease-in-out 1;
}
.stagemymenu_overlay .meal-score-meal-score-text{
  padding-top:0;
}
.stagemymenu_overlay .meal-score-meal-score-text .text{
  width:100%;
  padding:3.125rem 1.25rem 1.875rem;
}
.stagemymenu_overlay .meal-score-meal-score-text .text .title{
  font-weight:700;
  font-size:1.25rem;
  margin:0 0 0.625rem;
  color:#4C2B0D;
}
@media print,screen and (min-width:992px){
  .stagemymenu_overlay .meal-score-meal-score-text .text .title{
    font-size:1.375rem;
  }
}
.stagemymenu_overlay .meal-score-meal-score-text .text p,.stagemymenu_overlay .meal-score-meal-score-text .text ol li{
  display:block;
  font-size:1rem;
  margin:0 0 0.625rem;
}
.stagemymenu_overlay .meal-score-meal-score-text .text ol{
  list-style:none;
  counter-reset:li;
}
.stagemymenu_overlay .meal-score-meal-score-text .text ol li{
  padding-left:1.2em;
  counter-increment:li;
}
.stagemymenu_overlay .meal-score-meal-score-text .text ol li:before{
  content:counter(li) ".";
  display:inline-block;
  width:1.2em;
  margin-left:-1.2em;
}
.stagemymenu_overlay .meal-score-meal-score-text .text.text-about{
  background:#f3f3f3;
}
.stagemymenu_overlay .meal-score-meal-score-text .text.text-scale .scale{
  padding-top:0.625rem;
}
.stagemymenu_overlay .meal-score-meal-score-text .text.text-scale .scale .title{
  font-size:1em;
  display:flex;
  align-items:center;
  margin-bottom:0.3125rem;
}
.stagemymenu_overlay .meal-score-meal-score-text .text.text-scale .scale .title:before{
  content:"";
  display:block;
  width:1.875rem;
  height:1.875rem;
  margin-right:0.3125rem;
  background:#f37c14;
  -webkit-border-radius:100%;
  -moz-border-radius:100%;
  -ms-border-radius:100%;
  -o-border-radius:100%;
  border-radius:100%;
}
.stagemymenu_overlay .meal-score-meal-score-text .text.text-scale .scale .title span{
  display:inline-block;
  margin-left:0.3125rem;
  color:#999999;
  font-weight:400;
}
.stagemymenu_overlay .meal-score-meal-score-text .text.text-scale .scale.scale-medium .title:before{
  background:#ffea00;
}
.stagemymenu_overlay .meal-score-meal-score-text .text.text-scale .scale.scale-good .title:before{
  background:#97d815;
}
.modal-backdrop{
  display:none;
}

/* End side dishes rules */
