body.open-video-modal {
  overflow: hidden; }

.paragraph--type--c-externalvideo {
  margin-bottom: 10px;
  height: 100%; }
  .paragraph--type--c-externalvideo .field--name-field-c-video-url {
    position: relative; }
    .paragraph--type--c-externalvideo .field--name-field-c-video-url:hover {
      cursor: pointer; }
  .paragraph--type--c-externalvideo .video-embed-field-launch-modal {
    position: relative;
    width: 100%;
    display: block !important; }
    .paragraph--type--c-externalvideo .video-embed-field-launch-modal img {
      width: 100%; }
  .paragraph--type--c-externalvideo button.video-embed-field-lazy-play {
    border: 0; }
  .paragraph--type--c-externalvideo .video-embed-field-lazy {
    display: block !important; }

#cboxOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1e1e1e;
  overflow: visible;
  z-index: 999; }

#colorbox {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  outline: 0;
  overflow: visible;
  z-index: 1000; }

#cboxWrapper {
  background: transparent;
  overflow: visible;
  position: relative;
  top: 4%;
  border-radius: 5px;
  z-index: 9999; }

#cboxTopLeft {
  width: 15px;
  height: 15px; }

#cboxTopCenter {
  height: 15px; }

#cboxTopRight {
  width: 15px;
  height: 15px; }

#cboxMiddleLeft {
  width: 15px; }

#cboxContent {
  overflow: visible;
  background: unset; }

#cboxLoadedContent {
  margin-bottom: 28px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box; }
  #cboxLoadedContent .video-embed-field-provider-youtube {
    position: relative;
    height: 100%;
    overflow: hidden; }

.video-embed-field-responsive-video iframe {
  width: calc(100% - 30px);
  margin: 0 auto; }

#cboxTitle {
  position: absolute;
  background: rgba(255, 255, 255, 0.7);
  bottom: 28px;
  left: 0;
  color: #535353;
  width: 100%;
  padding: 4px 6px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

#cboxCurrent {
  position: absolute;
  bottom: 4px;
  left: 60px;
  color: #949494; }

#cboxClose {
  position: absolute;
  right: -15px;
  top: -25px;
  background: none;
  background-color: #1e1e1e;
  border-radius: 100%;
  cursor: pointer;
  width: 40px;
  height: 40px;
  outline: none;
  padding: 0px;
  text-indent: inherit; }

#cboxClose:before {
  content: "x";
  font-size: 26px;
  font-weight: 600px;
  color: #FFF;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -54%);
      -ms-transform: translate(-50%, -54%);
          transform: translate(-50%, -54%);
  left: 50%; }

#cboxMiddleRight {
  width: 15px; }

#cboxBottomLeft {
  width: 15px;
  height: 10px; }

#cboxBottomCenter {
  height: 10px; }

#cboxBottomRight {
  width: 15px;
  height: 10px; }
