{#
/**
 * @file
 * Default theme implementation for displaying the Fusepump Lightbox.
 *
 * Available variables:
 * - html_tag: The full HTML Tag provided
 *
 * @ingroup themeable
 */
#}
<button id="{{ html_id }}" class="btn btn-primary btn-buynow">Buy now</button>
