.paragraph--type--c-shopify {
    .left {
      .field--name-field-c-title {
        text-align : left;
      }
    }

  .center {
    .field--name-field-c-title {
      text-align : center;
    }
  }

  .right {
    .field--name-field-c-title {
      text-align : right;
    }
  }
}