/* Basic Quiz */

$gutter: 12px;
$spacing: 64px;

$color-primary: #003349;
$color-primary--light: #077cab;

$font-size--md: 18px;
$font-size--lg: 22px;

.paragraph--type-quiz {
    position: relative;
    font-family: "Helvetica", sans-serif;

    .field--name-ln-quiz-title {
        color: $color-primary;
        margin-top: 0;
        margin-bottom: $gutter;
        font-size: $font-size--lg;
        line-height: 1.5;
        font-weight: 400;
    }

    .field--name-field-quiz-title {
        margin-top: 0;
        margin-bottom: $gutter * 2;
        font-size: $font-size--lg;
        line-height: 1.5;
        font-weight: 400;
    }

    .field--name-ln-quiz-question-number,
    .field--name-ln-quiz-question-check-label,
    .field--name-ln-quiz-results {
        font-size: $font-size--md;
        line-height: 1.5;
        color: $color-primary--light;
        font-weight: 700;
        margin-top: $gutter * 2;
        margin-bottom: 16px;
    }

    .field--name-field-quiz-description,
    .field--name-field-quiz-failed-msg,
    .field--name-field-quiz-success-msg,
    .field--name-field-quiz-summary {
        font-size: $font-size--md;
        line-height: 1.5;
        font-weight: 400;
        opacity: 0.75;
        margin-bottom: $spacing;
    }

    a {
        position: relative;
        color: #fff;
        font-size: 14px;
        line-height: 1.2;
        font-weight: 400;
        text-decoration: none;
        background: $color-primary;
        border: none;
        border-radius: 2px;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        padding: #{$gutter} #{$gutter * 2};
        transition: all 0.3s;

        + a {
            margin-left: 16px;
        }

        &:hover {
            transform: translateY(-4px);
            box-shadow: 0px 4px 12px -4px rgba(0, 0, 0, 0.5);
            background: $color-primary--light;
        }
    }

    .field--name-ln-quiz-start a,
    .field--name-ln-quiz-next-question a {
        padding-right: 40px;

        &:after {
            content: "";
            display: inline-block;
            position: absolute;
            top: 50%;
            right: #{$gutter * 2};
            width: 7px;
            height: 7px;
            border-right: 2px solid #fff;
            border-bottom: 2px solid #fff;
            vertical-align: bottom;
            transform: translateY(-50%) rotate(-45deg);
        }
    }
}
