<section class=" bg-gray-lighter page-section bg-scroll home-slider page-" style="background-color: #0a4ca4; height: auto; padding-top: 0px; padding-bottom: 0px;">
    <div class=" row">
        <div class=" col-md-5 slider_leftsection">
            <h2 class=" align-left font-alt white hs-line-14 mb-30 fw-800 blue desktop-only" style="margin-top: 0px;">We enable healthcare organizations be future ready
            </h2>
        </div>
        <div class=" col-sm-7 desktop-only home-image">
            <video autoplay="" loop="" muted="" playsinline=""><source src="https://indegenerep.s3.ap-south-1.amazonaws.com/videos/indegene-corporate-video.mp4"></video>
        </div>
    </div>
</section>