{{kint(items)}}

<section class=" page-section bg-scroll mob-mt-20" style="background-color: #0a4ca4;">
			<div class=" container">
				<div class=" row">
					<div class=" col-md-7 mob-mb-30">
						<h3 class=" align-left font-alt white" style="margin-top: 0px; margin-bottom: 20px;">About Indegene
						</h3>
						<div class=" large-text blue">
							<p>We are a technology-led healthcare solutions provider. We combine deep industry expertise with fit-for-purpose technology in an agile and scalable operating model. Many of the leading, global healthcare organizations rely on us to deliver effective and efficient clinical, medical and commercial outcomes every day. From strategy to execution, we enable healthcare organizations be future ready.</p>
						</div>
					</div>
					<div class=" col-md-1"></div>
					<div class=" col-md-4">
						<h2 class=" align-left font-alt white fw-700" style="margin-top: 0px; margin-bottom: 20px;">Stay connected
						</h2>
						<div id="block-simplenews-75" class="block block-simplenews ">

							<h5 class="font-alt mb-sm-40  widget-title">| newsletter</h5>

							<div class="block-content clearfix">

								<div id="clientsidevalidation-simplenews-block-form-75-errors" class="messages error clientside-error" style="display: none;">
									<ul></ul>
								</div>
								<form class="simplenews-subscribe form" action="/home" method="post" id="simplenews-block-form-75" accept-charset="UTF-8" novalidate="novalidate">
									<div>
										<div class="form-item form-type-textfield form-item-mail">
											<input placeholder="E-mail" class="input-md form-control round" type="text" id="edit-mail" name="mail" value="" size="20" maxlength="128">
										</div>
										<input class="btn-medium btn btn-mod btn-round form-submit" type="submit" id="edit-submit" name="op" value="Subscribe"><input type="hidden" name="form_build_id" value="form-yI9jbjme7Zf1Y5l4FsFsjekCFWX5BPpRk7BqOg4KwP4">
										<input type="hidden" name="form_id" value="simplenews_block_form_75">
									</div>
								</form>


							</div>

						</div>
						<!-- /.block -->

					</div>
				</div>
			</div>
		</section>
		<section class=" page-section bg-scroll text-white" style="padding-top: 40px; padding-bottom: 40px; background-color: #000000;">
			<div class=" container">
				<div class=" row">
					<div class=" col-md-2">
						<div class=" small-text white">
							<p>© 2021 Indegene</p>
						</div>
					</div>
					<div class=" col-md-6">
						<div id="block-menu-menu-footer-menu" class="block block-menu ">

							<h5 class="font-alt mb-sm-40  widget-title">Footer Menu</h5>

							<div class="block-content clearfix">
								<ul class="default-menu">
									<li>
										<a href="/contact-us">Contact us</a>
									</li>
									<li>
										<a href="/privacy-policy">Privacy Policy</a>
									</li>
									<li>
										<a href="/corporate-social-responsibility-policy">CSR Policy</a>
									</li>
								</ul>
							</div>

						</div>
						<!-- /.block -->

					</div>
					<div class=" col-md-4 social-media-icons">
						<a class=" image-align text-align-center" align="center" target="new" href="https://www.linkedin.com/company/indegene/"><img style="" src="/sites/default/files/003-linkedin.svg" alt="" title=""></a>
						<a class=" image-align text-align-center" align="center" target="new" href="https://www.instagram.com/indegene.official"><img style="" src="/sites/default/files/004-instagram.svg" alt="" title=""></a>
						<a class=" image-align text-align-center" align="center" target="new" href="https://twitter.com/indegeneinsight"><img style="" src="/sites/default/files/002-twitter.svg" alt="" title=""></a>
						<a class=" image-align text-align-center" align="center" target="new" href="https://www.facebook.com/Indegene/"><img style="" src="/sites/default/files/001-facebook.svg" alt="" title=""></a>
					</div>
				</div>
			</div>
		</section>