<div class="indegene-layout">

    <div class="row g-0">

        <div class="indegene-second">
            {{ content.first }}
        </div>

        <div class="indegene-second">
            <div class="card-body media-body">
                {{ content.second }}
            </div>
        </div>

    </div>

</div>