.paragraph--type--c-documents .field--name-field-c-title {
  margin-bottom: 20px; }

.paragraph--type--c-teasercycle {
  padding: 0 20px; }
.paragraph--type--c-teasercycle .slick-dots li button:before {
  font-size: 10px; }
.paragraph--type--c-teasercycle .slick__arrow {
  top: 92px; }
.paragraph--type--c-teasercycle .slick--less .slick-track {
  text-align: inherit; }
.paragraph--type--c-teasercycle .slick-dotted.slick-slider {
  padding-bottom: 15px; }
.paragraph--type--c-teasercycle .slick__slide {
  margin: 0 5px; }
.paragraph--type--c-teasercycle .slick-prev, .paragraph--type--c-teasercycle .slick-next {
  width: 42px;
  height: 42px; }
.paragraph--type--c-teasercycle .slick-prev {
  left: 0; }
.paragraph--type--c-teasercycle .slick-prev:before {
  color: #000000;
  font-size: 36px; }
.paragraph--type--c-teasercycle .slick-next {
  right: 0; }
.paragraph--type--c-teasercycle .slick-next:before {
  color: #000000;
  font-size: 36px; }
.paragraph--type--c-teasercycle .slick img {
  width: 100%;
  max-width: 100%; }
.paragraph--type--c-teasercycle .paragraph--type--c-teasercycle-item .teaser-image-cycle h6 {
  margin: 0 !important; }

.node-dsu-component-page-edit-form .paragraph--type--c-teasercycle .slick {
  width: 100%; }

.node-dsu-component-page-edit-form .paragraph--view-mode--preview {
  padding-left: 0; }
