.adimo-store-first-button {
    font-size: 0;
    border: none;
    background: url('https://cdn.adimo.co/BasketAdsWidget/add_to_basket.png') left top no-repeat;
    background-size: contain;
    width: 188px;
    height: 44px;
}
