

  
  $medium-gray:#999;
  $maggi-yellow:#fff33e;
  $light-gray: #ccc;
  $dark-gray: #333;
  $background-light-gray:#f3f3f3;
  $special-use-light-gray: #eee;
  $tablerow-even:#fcfcfc;
  $maggi-others : #777;

  $iqmenu-brown: #3e2b1a;
  $iqmenu-white: #fff;
  $iqmenu-yellow: #ffed00;
