{#
/**
 * @file
 * Template file for adimo module.
 */
#}
{% set data_cookie_consent= cookieconsent ? "false" : "true" %}
{% if touchpointId is not empty %}

  {{ attach_library('ln_adimo/recipeiframe') }}
  {{ attach_library('ln_adimo/adimo-cookie-consent') }}


  <div class="adimo-iframe-outer">
    <div class="adimo-iframe-inner">
      <iframe class="adimo-iframe" data-touchpointId="{{ touchpointId }}"
              border="0" frameborder="0" scrolling="no"
              data-do-not-track="false">
      </iframe>
    </div>
  </div><!-- End demo -->

  {% if customCSS is not empty %}

    <style>{{ customCSS }}</style>

  {% endif %}

{% endif %}
