.ln_c_contactus_form fieldset {
  border-radius: 0 2em 0 0;
  margin-bottom: 0;
  padding: 3em;
  background-color: #f4f4f5; }
.ln_c_contactus_form fieldset.last-child {
  border-radius: 0 0 2em 0; }
.ln_c_contactus_form fieldset select {
  background-image: none; }
.ln_c_contactus_form fieldset .select-wrapper:after {
  top: 24px; }

.ln_c_contactus_form .form-textarea-wrapper {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1; }

.ln_c_contactus_form .ln_c_contactus_form_file_upload {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 15px;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end; }

.ln_c_contactus_form_file_upload .form-type-managed-file {
  color: #f4f4f5 !important;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -webkit-flex-shrink: 1;
  -ms-flex-negative: 1;
  flex-shrink: 1; }
.ln_c_contactus_form_file_upload .form-type-managed-file > label.control-label {
  padding: 12px 55px 12px;
  background: #494950; }
.ln_c_contactus_form_file_upload .form-type-managed-file:hover > label.control-label {
  background: #0c0c0d; }

.ln_c_contactus_form .ln_c_contactus_form_file_upload .form-type-managed-file {
  position: relative;
  display: block;
  /* overflow: hidden; */ }

.ln_c_contactus_form .ln_c_contactus_form_file_upload .form-item label {
  width: 100%;
  max-width: 100%;
  font-weight: bold;
  margin: 0; }

.ln_c_contactus_form_file_upload .form-managed-file {
  margin-top: 30px; }
.ln_c_contactus_form_file_upload .form-managed-file .form-file {
  cursor: pointer;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 0; }
.ln_c_contactus_form_file_upload .form-managed-file .control-label {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.ln_c_contactus_form fieldset select {
  display: block;
  padding: 0.5em;
  border: 1px solid #dcdcdc;
  border-radius: 3px;
  background-color: #fff;
  font-size: 1em;
  color: #6c707a;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 5px; }

.ln_c_contactus_form fieldset input[type='email'], .ln_c_contactus_form fieldset input[type='number'], .ln_c_contactus_form fieldset input[type='password'], .ln_c_contactus_form fieldset input[type='search'], .ln_c_contactus_form fieldset input[type='tel'], .ln_c_contactus_form fieldset input[type='text'] {
  display: block;
  padding: 0.5em;
  border: 1px solid #dcdcdc;
  border-radius: 3px;
  background-color: #fff;
  font-size: 1em;
  color: #6c707a;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 5px; }

.ln_c_contactus_form fieldset textarea {
  display: block;
  padding: 0.5em;
  border: 1px solid #dcdcdc;
  border-radius: 3px;
  background-color: #fff;
  font-size: 1em;
  color: #6c707a;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 5px; }

.ln_c_contactus_form .form-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 15px; }
.ln_c_contactus_form .form-item label {
  min-width: 25%;
  margin-top: 0;
  max-width: 25%;
  margin-right: 1em; }
.ln_c_contactus_form .form-item > input,
.ln_c_contactus_form .form-item > .select-wrapper {
  margin-top: 0; }

.ln_c_contactus_form .form-type-processed-text {
  padding: 30px 0;
  background: #fff;
  display: block;
  margin-bottom: 0; }
.ln_c_contactus_form .form-type-processed-text h2 {
  margin: 18px 0 12px 0;
  display: block;
  font-weight: normal;
  width: 100%; }
.ln_c_contactus_form .form-type-processed-text p {
  display: block;
  font-weight: normal;
  width: 100%;
  padding-bottom: 0; }

.ln_c_contactus_form .form-item-privacy-agreement {
  margin: 20px 0 30px; }
.ln_c_contactus_form .form-item-privacy-agreement label {
  max-width: 100%; }

.ln_c_contactus_form .form-item label.error {
  color: #ce0037;
  max-width: 100%; }

.ln_c_contactus_form .form-item .error {
  color: #ce0037; }

.ln_c_contactus_form_title .form-type-processed-text {
  padding-bottom: 12px; }

.ln_c_contactus_form .red-marked {
  color: #ce0037; }
