.ln_c_newsletter_email_collection_form {
    padding: 30px;
}
.ln_c_newsletter_email_collection_form .form-item-newsletter-title-message {
    background-image: url('../images/mail.png');
    background-repeat: no-repeat;
    padding-left: 30px;
}
@media (min-width: 767px) {
    .ln_c_newsletter_email_collection_form input[data-drupal-selector="edit-newsletter-user-email"] {
        width: 80%;
   }
    .ln_c_newsletter_email_collection_form div[data-drupal-selector="edit-actions"] {
        position: absolute;
        bottom: 30px;
        margin-left: -28px;
        left: 80%;
        min-width: 20%;
        display: inline-flex;
        align-items: center;
   }
    .ln_c_newsletter_email_collection_form div[data-drupal-selector="edit-actions"] input[type="submit"] {
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
   }
    .ln_c_newsletter_email_collection_form div[data-drupal-selector="edit-actions"] .ajax-progress-throbber {
        position: absolute;
   }
}
